body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'montserrat';
}

header {
    width: 100%;
    height: 8rem;
    /*border-bottom: 1px solid;*/
}

header #landingLogo {
    width: 2.8rem;
    margin-left: 4.5rem;
    margin-top: 2.5rem;
    display: inline-block;
    vertical-align: top;
}

header #logoText {
    display: inline-block;
    vertical-align: top;
    color: #38DEDF;
    font-size: 1.75rem;
    margin-top: 2.75rem;
    margin-left: 0.4rem;
    font-family: 'poiret one';
    font-weight: bold;
    letter-spacing: 1.5px;
}

header nav {
    position: absolute;
    right: 3rem;
    top: 2.8rem;
}

header nav ul {
    /**/
}

header nav ul li {
    display: inline-block;
    font-size: 1.15rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding-right: 1.5rem;
}

header nav ul li a {
    color: #111111;
    text-decoration: none;
    list-style: none;
    font-weight: 300;
}


/*
            header nav ul li a:hover{
                letter-spacing: 2px;
            }
*/

header nav ul li#loginBtn {
    height: 2.9rem;
    background-color: #111111;
    border-radius: 3.5px;
    padding-left: 1.6rem;
    padding-top: 0.65rem;
}

header nav ul li#loginBtn a {
    color: white;
}


/* header 부분 완료 */

section {
    /**/
}

section #sectionForm {
    width: 33rem;
    height: 15rem;
    margin: 0 auto;
}

section #sectionForm h1 {
    font-size: 2.9rem;
    text-align: left;
    line-height: 1.4;
    margin-top: 4rem;
}

section #sectionForm h1 span {
    color: #38DEDF;
    font-style: italic;
    font-family: 'poiret one';
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 3.5rem;
}

section #sectionForm h2 {
    font-weight: 300;
    font-size: 1rem;
    color: #606972;
    margin-top: 0.5rem;
}

section #sectionForm h2 span {
    padding-left: 1.5rem;
    font-weight: 600;
}

section #backgroundImg {
    width: 40rem;
    display: block;
    margin: 0 auto;
    margin-top: -1rem;
}


/* section 부분 완료 */

footer {
    width: 100%;
    height: 5rem;
    background-color: #292929;
    margin-top: 6rem;
}

footer nav {
    /**/
}

footer nav ul {
    margin-left: 10rem;
    padding-top: 1.9rem;
}

footer nav ul li {
    display: inline-block;
    padding-right: 1.5rem;
    color: white;
}

footer nav ul li#madeBy {
    position: absolute;
    right: 4rem;
    letter-spacing: 0.5px;
}

footer nav ul li a {
    color: inherit;
    text-decoration: none;
    list-style: none;
    transition: 0.4s;
}

footer nav ul li a:hover {
    color: #606972;
}
