	
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', serif;
}

body {
    background-color: #b9b9b9;
}

.boxShadow {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}

header {
    background-color: white;
    width: 100%;
    height: 40px;
    text-align: right;
    padding-right: 40px;
}

.headerBtn {
    text-align: right;
    margin: 6px 3px;
    display: inline-block;
}

button {
    padding: 5px 20px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.container {
    display: inline-block;
    height: 100%;
}

main {
    width: 100%;
    height: calc(100vh - 40px);
    padding: 40px;
    font-size: 0;
    display: flex;
}

.userCont {
    width: 200px;
    height: 200px;
    background-color: white;
    padding: 20px;
    text-align: center;
}

.userProfile {
    border: 1px solid #acacac;
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 100%;
}

.userName {
    font-size: 18px;
    margin-top: 10px;
}

.userIntro {
    font-size: 12px;
    margin-top: 10px;
}

.creation {
    width: 200px;
    background-color: white;
    margin-top: 20px;
}

.creation a {
    display: block;
    width: 200px;
    font-size: 15px;
    color: black;
    transition: all .5s;
}

.creation a:hover {
    background-color: #e6e6e6;
}

.creation span {
    display: inline-block;
    border-right: 1.5px solid #d6d6d6;
    font-size: 26px;
    padding: 11px;
    margin: 5px;
    border-top-right-radius: 5px;
}

.contents {
    width: calc(100% - 200px);
    height: 100%;
    margin-left: 40px;
    background-color: white;
}